@CHARSET "UTF-8";

html{
	top:0 !important;
}

body{
	background-color: #B3CEB6 !important;
	top:0 !important;
}

h1{
	font-family: retro !important;
	font-weight: bold !important;
	font-size: 50px !important;
	margin-top: 0 !important;
}

@font-face{
    font-family: 'metro';
    src: url("fonts/Metropolitan.ttf");
}

@font-face{
    font-family: 'retro';
    src: url("fonts/GistLight.otf");
}

.zgornjiMeni{
	top:0 !important;
	left:0;
	right:0;
	height: 150px;
	background-image: url("slike/veriga1.jpg");
	border-bottom: 4px solid black;
	background-position:center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.naslovnica{
	display:flex;
    align-items: center;
    height: 50%;
    padding-left: 10% !important;
}

.meniIzbira{
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center;
	height: 70px;
	font-size: 29px;
	font-family: retro;
	background-color: #E0FFDE;
	cursor: pointer;
}


.vsebina{
	background-color: rgba(255, 255, 255, 0.6);
	height: 500px;
	back
}

.sto{
	width:100%;
}

.paddingGumb{
	margin-top: 7px;
}

.noPaddingRight{
	padding-bottom: 15px;
	padding-top: 15px;
}

.nopadding {
   margin: 0 !important;
}

.paddingTop{
	padding-top: 30px;
}

@media (min-width: 1306px) {
	
	.zgornjiMeni{
		height: 250px;
	}
	
	.meniIzbira{
		font-size: 49px;
		height: 110px;
	}
	
	.noPaddingRight{
		padding-right: 0 !important;
		padding-top: 30px;
	}
	
	.paddingGumb{
		margin-top: 20px;
	}
	
	.nopadding{
		padding-left: 0 !important;
	}
	

}

@media (min-width: 992px) and (max-width: 1305px) {
   
   	.zgornjiMeni{
		height: 250px;
	}
	
	.meniIzbira{
		height: 110px;
		font-size:39px;
	}
	
	.noPaddingRight{
		padding-right: 0 !important;
		padding-top: 30px;
	}
	
	.paddingGumb{
		margin-top: 20px;
	}
	
	.nopadding{
		padding-left: 0 !important;
	}
	
}

.hvr-sweep-to-right {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}